.bodynature {
    -fx-background-image: url('file:C:/Users/User/OneDrive/Pictures/Screenshots/nature_3.jpg');
    -fx-background-size: 100% 100%
}

.answerButton {
    -fx-background-color: black;
    -fx-background-radius: 32px;
    -fx-border-radius: 32px;
    -fx-border-color: orange;
    -fx-border-width: 3;

}

.answerButton:hover {
    -fx-border-color: "#8A2BE2";
}


.button {
    -fx-cursor:hand;
}

.selectedAnswer {
    -fx-border-color: yellow;
}





