.organizationItem{
    -fx-background-color: "#1C2835";
    -fx-background-radius: 10;
    -fx-padding: 10;
}

.organizationItem .label{
    -fx-text-fill: white;
}

.organizationItem:hover{
    -fx-background-color: "#3F5A78";
    -fx-cursor: hand;
}

.amountBtn{
    -fx-border-color: "#5F81AB";
    -fx-background-radius: 20;
    -fx-background-color: "transparent";
}

.amountErrorMessage{
    -fx-text-fill: "#B12F2F";
}

.amountBtn:hover{
    -fx-background-color: "#5F81AB";
}

.on-selected{
    -fx-background-color: "#0059BA";
}

.on-selected:hover{
    -fx-background-color: "#0059BA";
}
