.label{
    -fx-text-fill: "#B5B5B5";
}

.timestamp-icon{
    -fx-fill: "#B5B5B5";
}

.newsTitle{
    -fx-font-size: 16px;
    -fx-text-fill: "#ffffff";
    -fx-underline: true;
    -fx-cursor: hand;
    -fx-wrap-text: true;
    -fx-max-width: Infinity;
}

.newsVbox{
    -fx-background-color: "#1C2835";
    -fx-background-radius: 10;
    -fx-padding: 15;
}
