#sidebar{
    -fx-spacing: 4;
}

#sidebar Button{
    -fx-background-color: transparent;
    -fx-text-fill: "#ffffff";
    -fx-font-size: 20px;
    -fx-background-radius: 15;
    -fx-padding: 10;
}

#sidebar Button:hover {
    -fx-background-color: #1c2835;
}

#sidebar .selected-button{
    -fx-background-color: #1c2835;
}